.blue-background {
    background-color: blue;
    }
    .red-background {
    background-color: red;
    }


    .mybutton { 
        color: blue
    }

    .mybutton1 {
        background: red;
    }

    
    